<div class="main-container">
	<div class="first-view">
		<div class="form-area">
			<h1>SAUNA&CAMP</h1>
			<p>自然でもサウナを楽しむ</p>
			<p id="about">
				昨今のサウナブームにより、サウナへ行く方が増えていると思います。<br>
				しかし首都圏のサウナでは混雑が目立ち、せっかくの休日にもかかわらずゆっくりサウナに入るどころか逆に疲れてしまうケースもあるかもしれません。<br>

			</p>
		</div>
	</div>
	<div class="second-view">
		
	</div>
</div>
