// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.first-view {
  background-image: image-url('top_page.jpg');
  height: 1600px;
  background-size: cover;
}
.main-container {
	text-align: center;
}
.form-area {
	padding-top: 200px;
}
#about {
	padding-top: 400px;
}
